APP_NAME=Laravel
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug
AUTH_LOGIN_RATE_LIMIT=10
AUTH_REGISTER_RATE_LIMIT=5
AUTH_REFRESH_RATE_LIMIT=20

DB_CONNECTION=sqlite
DB_DATABASE=:memory:

SESSION_DRIVER=array
QUEUE_CONNECTION=sync
CACHE_STORE=array

KAFKA_BROKERS=localhost:9092
